@inherits LayoutComponentBase

<PageTitle>HAckathon</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
   
        <article class="content px-4 background">
            @Body
        </article>

    </main>
</div>
